Package: com.weishi.fmfipspoofer
Name: FMFIP Spoofer
Depends: mobilesubstrate
Version: 1.2.0
Architecture: iphoneos-arm
Description: Spoof Find My Friends/iPhone location. Fix location shift in Mainland China.
Maintainer: Wei Shi <willsplashing@gmail.com>
Author: Wei Shi <willsplashing@gmail.com>
Section: Tweaks
