Package: com.yourcompany.maptest
Name: mapTest
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Wei Shi
Author: Wei Shi
Section: Tweaks
