<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.weishi.fmflocationfix-prefs</string>
			<key>key</key>
			<string>enableLocationSpoofing</string>
			<key>label</key>
			<string>Enable location spoofing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.weishi.fmflocationfix-prefs</string>
			<key>key</key>
			<string>latitude</string>
			<key>label</key>
			<string>Latitude</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.weishi.fmflocationfix-prefs</string>
			<key>key</key>
			<string>longitude</string>
			<key>label</key>
			<string>Longitude</string>
        </dict>
	</array>
	<key>title</key>
	<string>FMFLocationSpoofer</string>
</dict>
</plist>
